<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752636301343-mahb0nopknkvh25k4keouoj9gd49ed80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752636301343-mahb0nopknkvh25k4keouoj9gd49ed80</string>
	<key>API_KEY</key>
	<string>AIzaSyCUjBeUR790fAMmmzF_WlxxQnRoEOn10qk</string>
	<key>GCM_SENDER_ID</key>
	<string>752636301343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nazik.com</string>
	<key>PROJECT_ID</key>
	<string>market-3d27d</string>
	<key>STORAGE_BUCKET</key>
	<string>market-3d27d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752636301343:ios:f7e166a78d0c4f5404c52a</string>
</dict>
</plist>